/* logo telephone dans header */
#logoTelephone {
    height: 50%;
}

#who {
    background-color: wheat;
    
}

#quiSommes{
    align-items: center;
}

#descriptif {
    align-items: center;
}

#electriqueImg {
    background-color: aquamarine;
    
}

#electrique {
    height: 50%;
}