/*RESPONSIVE MOBILE*/
@media (max-width:360px) {
    /*formulaire*/
    #hidden_div_form h3{
        display: none;
    }
    /*fin formulaire*/

    /*header*/
    .header{
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    #electriqueImg img{
        display: none;
    }
    #logo{
        min-width: 100vw;
        min-height: 20vh;
    }
    #logo img{
        width: inherit;
        height: inherit;
    }
    #who{
        min-height: 20vh;
        min-width: 100vw;

    }
    .header p{
        word-wrap: break-word;
        font-size: x-small;
    }
    /*fin header*/
}
/*FIN RESPONSIVE MOBILE*/



/* logo telephone dans header */
#logoTelephone {
    height: 50%;
}

#who {
    background-color: wheat;
    
}

#quiSommes{
    align-items: center;
}

#descriptif {
    align-items: center;
}

/* Taille image electrique */
#electrique {
    height: 50%;
}
/* style carousel */

#carousel {
    background-color: #039BE5
}

#carouselItem {
    margin-top: 30px;
}

.items {
    width: 90%;
    margin: 0px auto;
    margin-top: 100px
}

.slick-slide {
    margin: 10px
}

.slick-slide img {
    width: 100%;
    border: 0px solid #fff
}

.carousel-content
{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 200px;
    color: white;
}

/* fin style carousel */




/*FORMULAIRE*/
#form-title{
    text-align: center;
}

#section_formulaire{
    background-image: url("")
}

#section_formulaire .form{
    width: 60%;
}
/*FIN FORMULAIRE*/
