/*RESPONSIVE MOBILE*/
@media (max-width:360px) {
    /*formulaire*/
 
    /*fin formulaire*/
}
@media (max-width:775px){
    #hidden_div_form figure{
        display: none;
    }
}
@media (max-width:700px){

    /*header*/
    #who{
        min-width: 100vw;
        align-self: center;
    }

    #who h3{
        font-size: large;
        font-weight: bold;
    }
    #who p{
        font-size: x-small;
        font-weight: bold;
    }
    #telephone{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #telephone span{
        order: -1;
    }
    /*fin header*/
}

@media (max-width:1440px)
{
    .texteCarousel{
        display: none;
    }
}


/*FIN RESPONSIVE MOBILE*/



body{
    background-color: rgba(185, 185, 255, 0.349);
}


/*NAVBAR*/

.navbar-brand

.navitem a:hover{
    font-weight: bold;
    color: white;
    filter: brightness(150%);
}


/*HEADER*/
.blocHaut {
    background-image: linear-gradient(to right,black,black,rgba(37, 22, 255, 0.664),rgb(196, 151, 255));
    color: white;
}


.header{
    min-height: 40vh;
}

#quiSommes{
    text-decoration: underline;
    font-size: 25px;
}

/*téléphone */
#telephone {
    text-decoration: underline;
    text-decoration: white;
    font-size: 30px;
}
/*FIN HEADER*/




/* STYLE CAROUSSEL */
#carousel {
    background-color: #ffffff;
    
}

#carouselItem {
    margin-top: 30px;
    margin-bottom: 30px;
}

.items {
    width: 90%;
    margin: 0px auto;
    margin-top: 100px
}

.slick-slide {
    margin: 10px
}

.slick-slide img {
    width: 100%;
    border: 0px solid #fff
}

.carousel-content
{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 140px;
    color: white;
    font: 900 40px/0 'Source Sans Pro', Arial, sans-serif; text-transform: uppercase; color: #fff; text-align: center; letter-spacing: -3px; padding-top: 10%;
    
}

.texteCarousel
{
  
  
    text-shadow:     0 1px 0 hsl(174,5%,80%),
                       0 2px 0 hsl(174,5%,75%),
                       0 3px 0 hsl(174,5%,70%),
                       0 4px 0 hsl(174,5%,66%),
                       0 5px 0 hsl(174,5%,64%),
                       0 6px 0 hsl(174,5%,62%),
                       0 7px 0 hsl(174,5%,61%),
                       0 8px 0 hsl(174,5%,60%),
      
                       0 0 5px rgba(0,0,0,.05),
                      0 1px 3px rgba(0,0,0,.2),
                      0 3px 5px rgba(0,0,0,.2),
                     0 5px 10px rgba(0,0,0,.2),
                    0 10px 10px rgba(0,0,0,.2),
                    0 20px 20px rgba(0,0,0,.3);
  }

/* FIN STYLE CAROUSSEL*/

/* parametres pour image voiture */
#voiture {
    border-radius: 30%;
    margin-top: 15%;
}
.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

/*FORMULAIRE*/
#form-title{
    text-align: center;
}

#section_formulaire{
    background-image: url("")
}

#section_formulaire .form{
    width: 60%;
}
/*FIN FORMULAIRE*/


