@media (max-width:360px) {
    #hidden_div_form{
        display: none;
    }
    #section_form input{
        height: 50px;
    }
}

@media (max-width:1440px)
{
    .texteCarousel{
        display: none;
    }
}


/*NAVBAR*/
.navbar-dark .navbar-brand {
    color: red;
    font-weight: bold;
}


/*HEADER*/
.blocHaut {
    background-image: linear-gradient(to right,black,black,black,gray);
    color: white;
}


.header{
    background-image: url(images/logo.jpg);
    background-position: left;
    background-repeat: no-repeat;
    min-height: 40vh;
}

#quiSommes{
    text-decoration: underline;
    font-size: 25px;
}

/*téléphone */
#telephone {
    text-decoration: underline;
    font-size: 30px;
}
/*FIN HEADER*/

/* style carousel */

#carousel {
    background-color: #ffffff;
    
}

#carouselItem {
    margin-top: 30px;
    margin-bottom: 30px;
}

.items {
    width: 90%;
    margin: 0px auto;
    margin-top: 100px
}

.slick-slide {
    margin: 10px
}

.slick-slide img {
    width: 100%;
    border: 0px solid #fff
}



.texteCarousel

{
  
  font-size: 3rem;

  }

/* fin style carousel */



/*section nouvelle offre David*/
.nouvelle-offre{
    text-align: center;
}

.contour-radius{
    margin-top: 10%;
    display:block;
    border:1px solid black;
}

.bandeau{
    width:100%;
    }

    .texte{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: blanchedalmond;
    }

.image1{
    background-image: url("images/cover-r4x3w1000-5b9151fead3cd-ss-tech2.jpg");
    background-repeat: no-repeat;
   
}




/*FORMULAIRE*/
#form-title{
    text-align: center;
}

#section_formulaire{
    background-image: url("")
}

#section_formulaire .form{
    width: 60%;
}

/* validation du formulaire */
input:invalid {
    box-shadow: 0 0 5px 1px red;
  }
  
input:focus:invalid {
    outline: none;
  }

/*FIN FORMULAIRE*/
